<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if request.user.is_authenticated %}
    <img src="{{(Avatar.objects.filter(user=request.user.id)[0].imagen.url)}}">
    Hola {{user.username}}, bienvenid@ a nuestro sistema.
    {% else %}
    Login
    {% endif %}

    <h1>Cursos</h1>

    <ul>
        {% for curso in object_list %}
        <li>
            <p>Nombre: {{curso.nombre}}</p>
            <p>
                <a href="{% url 'Detail' curso.id %}">Detalles</a>
                <a href="{% url 'Edit' curso.id %}">Editar</a>
                <a href="{% url 'Delete' curso.id %}">Eliminar</a>
            </p>
        </li>
        {% endfor %}

    </ul>
    <p>
        <a href="{% url 'New' %}">Crear</a>
    </p>
</body>
</html>